aiohttp~=3.6.3
aiosqlite~=0.15.0
disputils~=0.1.3
Pillow~=8.0.0
dateparser~=0.7.6
python-dotenv~=0.14.0
colorama~=0.4.4
sympy~=1.6.2
psutil~=5.7.2
webcolors~=1.11.1
discord~=1.0.1
ksoftapi~=0.2.4a0
ruamel.yaml