{% extends "base.html" %}
{% block title %}Aoi Bot - Commands{% endblock %}
{% block header %}Commands{% endblock %}
{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-1 m-md-1 text-center">
    <div class="col-md-5 p-lg-1 mx-auto">
        <h1 class="display-4 fw-normal">Aoi Command List</h1>
    </div>
</div>
<div class="px-5">
    <div class="align-items-start">
        <div class="container" role="navigation">
            <div class="my-3 d-block" id="list">&nbsp;</div>
            <h2 class="d-block">Module List</h2>
            <div class="row">
                {% for cog in commands %}
                <a aria-selected="true" role="tab" type="button"
                        class="btn btn-primary-outline nav-link my-1 text-white col-12 col-xs-6
                        col-sm-4 col-md-3 col-lg-2" href="#{{cog}}-section">
                    {{cog}}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            {% for cog in commands %}
            <div class="my-3 mx-1 text-white" id="{{cog}}-section">
                <h2 class="mx-2 my-2">{{cog}}<sup><a class="px-2" href="#list">Top</a></sup><br/></h2>
                <h4 class="mx-2 my-2">{{commands[cog].description}}</h4>
                {% for command in commands[cog].commands %}
                {{ commands[cog].commands[command] }}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
