.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.brand-logo {
    height: 24px;
}

/*
 * Extra utilities
 */

.flex-equal > * {
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}